# Introduction to python

This notebook will help you get started in python.To run a command in notebook press ctrl + enter in the cell

In [1]:
#variable initalization
a = 5

In [2]:
#printing variable
print(a)

5

In [3]:
# importing modules
import math

In [4]:
# using imported module
x = math.cos(2*math.pi)
print(x)

1.0

In [5]:
# To import the whole module use *
from math import *
x = cos(2 * pi)
print(x)

1.0

The way of importing module by above method may seem to be easier but sometimes may lead to problem. You will have to take care of while naming your own method

In [6]:
#use help funtion to find the documentation 
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# variables

In [8]:
x = 1.0
type(x)

float

In [9]:
x = 1
type(x)

int

Notice that you don't have to declare the data type in python. And same variable name can be used for different data type in same program

# operators

In [10]:
# basic operations
1 + 2, 1 - 2, 1 * 2, 1 / 2

(3, -1, 2, 0.5)

In [11]:
# power operation
2**3

8

In [14]:
# boolean operations
True and False ,not True,not False, True or False

(False, False, True, True)

In [16]:
#basic comparison
2 > 1, 2 < 1, 2 > 2, 2 < 2, 2 >= 2, 2 <= 2

(True, False, False, False, True, True)

In [17]:
# equality
[1,2] == [1,2]

True

# strings

In [18]:
s = "Hello world"
type(s)

str

In [20]:
#lenght of the string
len(s)

11

In [21]:
#basic string methods
s2 = s.replace("world", "test")
print(s2)

Hello test

In [22]:
# accessing ith element of string
s[0]

'H'

# slicing in strings

In [23]:
s[0:5]

'Hello'

In [24]:
s[6:]

'world'

In [25]:
s[:]

'Hello world'

In [26]:
# define step size of 2
s[::2]

'Hlowrd'

In [27]:
# automatically adds a space
print("str1", "str2", "str3")

str1 str2 str3

In [28]:
# C-style formatting
print("value = %f" % 1.0)

value = 1.000000

In [29]:
# alternative, more intuitive way of formatting a string 
s3 = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)
print(s3)

value1 = 3.1415, value2 = 1.5